<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!--Bootstrap CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Devour!</title>
	<!--Bootstrap JS--->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<!--jQuery CDN-->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	{{!-- <script src="../../public/assets/js/burgers.js"></script> --}}
	<style>
		body{
			background-color: none;
		}
		.display-3{
			text-align: center;
		}
		.h3{
			text-align: center;
		}
		.list-group-item{
			border: none;
		}
		.form-container{
			border: 1px solid lightgray;
			border-radius: 5px;
			width: 30%;
			margin-left: 40px;
			float: left;
			padding: 20px;
		}


	</style>
</head>

<body>
	{{{ body }}}
</body>
<script>
	$(function () {
		//MOVE BURGER TO DEVOURED COLUMN
		$(".change-devoured").on("click", function (event) {
			var id = $(this).data("id");
			var newDevoured = true;
			console.log(id, newDevoured)

			var newDevouredState = {
				devoured: newDevoured
			};
			console.log(newDevouredState);

			// Send the PUT request.
			$.ajax("/api/burgers/" + id, {
				type: "PUT",
				data: newDevouredState
			}).then(
				function () {
					console.log("changed devoured to", newDevoured);
					// Reload the page to get the updated list
					location.reload();
				}
			);
		});

		//ADD A BURGER TO THE LIST 
		$(".create-form").on("submit", function (event) {
			// Make sure to preventDefault on a submit event.
			event.preventDefault();

			var newBurger = {
				name: $("#burger").val().trim(),
				devoured: false
			};

			// Send the POST request.
			$.ajax("/api/burgers", {
				type: "POST",
				data: newBurger
			}).then(
				function () {
					console.log("created new burger");
					// Reload the page to get the updated list
					location.reload();
				}
			);
		});

	});
</script>

</html>