<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="" type="text/css" />
	<title>Devour!</title>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	{{!-- <script src="../../public/assets/js/burgers.js"></script> --}}
</head>

<body>
	{{{ body }}}
</body>
<script>
	$(function () {
		//MOVE BURGER TO DEVOURED COLUMN
		$(".change-devoured").on("click", function (event) {
			var id = $(this).data("id");
			var newDevoured = true;
			console.log(id, newDevoured)

			var newDevouredState = {
				devoured: newDevoured
			};
			console.log(newDevouredState);

			// Send the PUT request.
			$.ajax("/api/burgers/" + id, {
				type: "PUT",
				data: newDevouredState
			}).then(
				function () {
					console.log("changed devoured to", newDevoured);
					// Reload the page to get the updated list
					location.reload();
				}
			);
		});

		//ADD A BURGER TO THE LIST 
		$(".create-form").on("submit", function (event) {
			// Make sure to preventDefault on a submit event.
			event.preventDefault();

			var newBurger = {
				name: $("#burger").val().trim(),
				devoured: false
			};

			// Send the POST request.
			$.ajax("/api/burgers", {
				type: "POST",
				data: newBurger
			}).then(
				function () {
					console.log("created new burger");
					// Reload the page to get the updated list
					location.reload();
				}
			);
		});

	});
</script>

</html>