<div class="container-fluid">
  <h1 class="display-3">I Like Big Buns</h1>
  <br>
  <div class="row">
    <div class="col">
      <h3 class="h3">Burgers</h3>
      <hr>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      <h3 class="h3">Devoured</h3>
      <hr>
      <ul>
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
      {{/if}}
      {{/each}}
      </ul>
    </div>
  </div>

  <br>

  <div class="container-fluid form-container">
    <h4 class="h4">Add a Burger</h4>
    <hr>
    <form class="create-form">
      <div class="form-group">
        <input type="text" class="form-control" id="burger" name="name" placeholder="Name">
      </div>
      <hr>
      <button class="btn-sm btn-info" type="submit">Add Burger</button>
    </form>
  </div>
</div>